.header {
  border: 1px solid lightgray;
  position: relative;
  border-style: groove;

  height: 100px;
  margin: 8px 43px 17px 36px;
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
