.cardContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
  margin-left: 10px;
  margin-right: 43px;
  row-gap: 10px;
  justify-items: center;
  align-items: start;
  
}

/* .cardContainer {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
  gap: 20px;  
  padding: 20px;  
} */
