.container {
  display: grid;
  gap: 10px;
  grid-template-columns: [startline] 1fr 1fr 1fr [endline];
  grid-template-areas:
    'header header header'
    'body body body'
    'footer footer footer';
}

.header {
  grid-area: header;
  grid-column-start: [startline];
  grid-column-end: [endline];
  border: 1px solid lightgray;
  border-radius: 10px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  height: 100px;
  margin: 8px 43px 17px 36px;
  max-width: 100%;

  padding: 10px;
}

.body {
  grid-area: body;
  grid-column-start: [startline];
  grid-column-end: [endline];
}

.footer {
  grid-area: footer;
  grid-column-start: [startline];
  grid-column-end: [endline];
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid lightgray;
  border-radius: 10px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  height: 300px;
  margin: 8px 43px 17px 36px;
  max-width: 100%;

  padding: 10px;
}

/* .nav {
  border: 1px solid lightgray;
  border-radius: 10px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  height: 100px;
  margin: 8px 43px 17px 36px;
  max-width: 100%;

  padding: 10px;
} */
