.singleCard {
  margin: 0 46px 31px 46px;
}
.singleCard:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  transform: scale(1.02);
}

.l {
  width: 350px;
  height: 402px;
  border: 2px solid rgba(92, 92, 92, 0.441);

  border-radius: 5px;
}
